body {
    background-image: url(timg.jpg);
    background-repeat: no-repeat;
}

div {
    width: 400px;
    height: 200px;
    margin: 160px auto;
    background-color: rgb(236, 214, 214);
    text-align: center;
    padding-top: 100px;
    border-radius: 7px;
}